<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ncr Rugby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      @font-face {
        font-family: Montserrat;
        src: url(https://ncrrugbyuat.s3.amazonaws.com/common/mirpuri-book.ttf);
      }
      * {
        font-family: Montserrat;
      }
    </style>
  </head>

  <body style="margin: 0; padding: 0">
    <table
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="background-color: #eeeeee; padding: 20px"
    >
      <tr>
        <td style="padding: 20px 0 30px 0">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="max-width: 650px; width: 100%"
            style="border-collapse: collapse; border: 1px solid #cccccc"
          >
            <tr>
              <td align="center">
                <a href="https://staging.maymadness7s.com/">
                  <img
                    src="https://ncrrugbyuat.s3.amazonaws.com/common/header.jpg"
                    alt="Ncr rugby"
                    width="100%"
                    style="display: block"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td align="center">
                <img src="https://ncrrugbyuat.s3.amazonaws.com/common/contact-1.png" alt="Ncr rugby"" width="100%"
                style="display: block; margin-top: -1px" />
              </td>
            </tr>
            <tr>
              <td
                align="center"
                bgcolor="#ffffff"
                style="padding: 40px 30px 40px 30px"
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="border-collapse: collapse"
                >
                  <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif">
                      <h1
                        style="
                          margin-bottom: 30px;
                          margin-top: 0;
                          font-family: Montserrat;
                          font-size: 18px;
                          font-weight: 500;
                          font-stretch: normal;
                          text-align: center;
                          font-style: normal;
                          line-height: normal;
                          letter-spacing: 0.38px;
                          color: #0a2f6a;
                        "
                      >
                        Your Message
                      </h1>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p
                        style="
                          margin: 0 0 30px 0;
                          font-family: Montserrat;
                          font-size: 13px;
                          font-weight: normal;
                          font-stretch: normal;
                          font-style: normal;
                          line-height: 2;
                          letter-spacing: 0.47px;
                          text-align: center;
                          color: #363636;
                        "
                      >
                        {{message}}.
                      </p>
                    </td>
                  </tr>
                  <tr align="center" style="width: 50%">
                    <td>
                      <a href="{{url}}"
                        ><img src="https://ncrrugbyuat.s3.amazonaws.com/common/visit-tournament-11.jpg"
                      /></a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="white" style="padding: 5px 30px">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="border-collapse: collapse"
                >
                  <tr>
                    <td
                      align="center"
                      style="border-top: 1px solid #3165b833; padding-top: 20px"
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="border-collapse: collapse"
                      >
                        <tr>
                          <td>
                            <a href="#">
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/fb.png"
                                alt="fb"
                                width="100%"
                                style="display: block"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a href="">
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/twt.png"
                                alt="twt."
                                width="100%"
                                style="display: block"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a href="">
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/insta.png"
                                alt="instagram."
                                width="100%"
                                style="display: block"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a href="">
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/youtube.png"
                                alt="youtube."
                                width="100%"
                                style="display: block"
                                border="0"
                              />
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr bgcolor="white">
              <td>
                <p
                  style="
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.33;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: #363636;
                  "
                >
                  ©2021 National Collegiate Rugby Organization.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
