<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      @font-face {
        font-family: Montserrat;
        src: url(https://ncrrugbyuat.s3.amazonaws.com/common/mirpuri-book.ttf);
      }
      * {
        font-family: Montserrat;
      }
      @font-face {
        font-family: Montserrat-Regular;
        src: url(https://ncrrugbyuat.s3.amazonaws.com/common/mirpuri-book.ttf);
      }
      * {
        font-family: Montserrat-Regular;
      }
    </style>
    <style>
      @media only screen and (max-width: 768px) {
        .form tr :nth-child(1) {
          width: 50%;
        }
        .form tr :nth-child(2) {
          width: 50%;
        }

        .title {
          font-size: 18px;
        }
        .bodytext {
          font-size: 14px;
        }
        .footertext {
          font-size: 14px;
        }
        .bodyfooter {
          font-size: 15px;
        }
      }

      @media only screen and (min-width: 769px) {
        .form tr :nth-child(1) {
          width: 30%;
        }
        .form tr :nth-child(2) {
          width: 80%;
        }
        .title {
          font-size: 26px;
        }
        .bodytext {
          font-size: 14px;
        }
        .bodyfooter {
          font-size: 16px;
        }
        .footertext {
          font-size: 12px;
        }
      }
    </style>
  </head>

  <body style="margin: 0; padding: 0">
    <table
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="background-color: #eeeeee; padding: 20px"
    >
      <tr>
        <td style="padding: 20px 0 30px 0">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="max-width: 650px; width: 100%"
            style="border-collapse: collapse; border: 1px solid #cccccc"
          >
            <tr>
              <td align="center">
                <a href="https://staging.maymadness7s.com/">
                  <img
                    src="https://ncrrugbyuat.s3.amazonaws.com/common/header.jpg"
                    width="100%"
                    style="display: block"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td align="center">
                <img
                src="https://ncrrugbyuat.s3.amazonaws.com/common/contatct-2.jpg"
                alt="Ncr rugby"" width="100%" style="display: block; margin-top:
                -1px" />
              </td>
            </tr>
            <tr>
              <td
                align="center"
                bgcolor="#ffffff"
                style="padding: 40px 30px 40px 30px"
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="border-collapse: collapse"
                >
                  <tbody class="form">
                    <tr>
                      <td
                        class="bodytext"
                        style="
                          padding: 20px 10px;
                          font-family: 'Montserrat';
                          font-size: 14px;
                          color: #363636;
                        "
                      >
                        First Name:
                      </td>
                      <td
                        class="bodytext"
                        style="font-family: 'Montserrat-Regular'"
                      >
                        {{firstName}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="bodytext"
                        style="
                          padding: 20px 10px;
                          font-family: 'Montserrat';
                          font-size: 14px;
                          color: #363636;
                        "
                      >
                        Last Name:
                      </td>
                      <td class="bodytext" style="font-family: 'Montserrat'">
                        {{lastName}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="bodytext"
                        style="
                          padding: 20px 10px;
                          font-family: 'Montserrat';
                          font-size: 14px;
                          color: #363636;
                        "
                      >
                        Email Address:
                      </td>
                      <td class="bodytext" style="font-family: 'Montserrat'">
                        {{email}}
                      </td>
                    </tr>
                    <tr>
                      <td
                        class="bodytext"
                        style="
                          padding: 20px 10px;
                          font-family: 'Montserrat';
                          font-size: 14px;
                          color: #363636;
                          display: block;
                        "
                      >
                        Message:
                      </td>
                      <td
                        class="bodytext"
                        style="font-family: 'Montserrat'; padding: 20px 0px"
                      >
                        {{message}}
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="white" style="padding: 5px 30px">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="border-collapse: collapse"
                >
                  <tr>
                    <td
                      align="center"
                      style="border-top: 1px solid #3165b833; padding-top: 20px"
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="border-collapse: collapse"
                      >
                        <tr>
                          <td>
                            <a
                              href="https://www.facebook.com/nationalcollegiaterugby/"
                            >
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/fb.png"
                                alt="fb"
                                style="display: block; width: 40px"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a
                              href="https://twitter.com/ncrrugby?fbclid=IwAR3tHM239yQskkNNY_4v9Jlz7NvJuRTLul7jLZnuurKp5vLEfj5NVakA2d8"
                            >
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/twt.png"
                                alt="twt."
                                style="display: block; width: 40px"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a
                              href="https://www.instagram.com/nationalcollegiaterugby/"
                            >
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/insta.png"
                                alt="instagram."
                                style="display: block; width: 40px"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a
                              href="https://www.youtube.com/c/NationalCollegiateRugby/featured"
                            >
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/youtube.png"
                                alt="youtube."
                                style="display: block; width: 40px"
                                border="0"
                              />
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr bgcolor="white">
              <td>
                <p
                  style="
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.33;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: #363636;
                  "
                >
                  ©2021 National Collegiate Rugby Organization.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
