<!DOCTYPE html>
<html lang="en-GB">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Ncr Rugby</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <style>
      @font-face {
        font-family: Montserrat;
        src: url(https://ncrrugbyuat.s3.amazonaws.com/common/mirpuri-book.ttf);
      }
      * {
        font-family: Montserrat;
      }
    </style>
    <style>
      @media only screen and (max-width: 768px) {
        .title {
          font-size: 18px;
        }
        .bodytext {
          font-size: 15px;
        }
        .btntr {
          display: grid;
        }
        .btntr :nth-child(1) {
          width: 100%;
          padding: 30px 0;
        }
        .btntr :nth-child(1) a {
          padding: 15px 39px;
        }
        .footertext {
          font-size: 14px;
        }
        .bodyfooter {
          font-size: 15px;
        }
      }

      @media only screen and (min-width: 769px) {
        .title {
          font-size: 24px;
        }
        .bodytext {
          font-size: 15px;
        }
        .btntr :nth-child(1) {
          width: 50%;
        }
        .btntr :nth-child(1) a {
          padding: 15px 40px;
        }
        .bodyfooter {
          font-size: 15px;
        }
        .footertext {
          font-size: 12px;
        }
      }
    </style>
  </head>

  <body style="margin: 0; padding: 0">
    <table
      role="presentation"
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="background-color: #eeeeee; padding: 20px"
    >
      <tr>
        <td style="padding: 20px 0 30px 0">
          <table
            align="center"
            border="0"
            cellpadding="0"
            cellspacing="0"
            style="max-width: 650px; width: 100%"
            style="border-collapse: collapse; border: 1px solid #cccccc"
          >
            <tr>
              <td align="center">
                <a href="https://staging.maymadness7s.com/">
                  <img
                    src="https://ncrrugbyuat.s3.amazonaws.com/common/header.jpg"
                    alt="Ncr rugby"
                    width="100%"
                    style="display: block"
                  />
                </a>
              </td>
            </tr>
            <tr>
              <td align="center">
                <img
                src="https://ncrrugbyuat.s3.amazonaws.com/common/welcome-mail-header.jpg"
                alt="Ncr rugby"" width="100%" style="display: block; margin-top:
                -1px" />
              </td>
            </tr>
            <tr>
              <td
                align="center"
                bgcolor="#ffffff"
                style="padding: 40px 30px 40px 30px"
              >
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="border-collapse: collapse"
                >
                  <tr>
                    <td style="color: #153643; font-family: Arial, sans-serif">
                      <h1
                        class="title"
                        style="
                          margin-bottom: 30px;
                          margin-top: 0;
                          font-family: Montserrat;

                          font-weight: 500;
                          font-stretch: normal;
                          text-align: center;
                          font-style: normal;
                          line-height: normal;
                          letter-spacing: 0.38px;
                          color: #0a2f6a;
                        "
                      >
                        May Madness Brackets Challenge
                      </h1>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <p
                        class="bodytext"
                        style="
                          margin: 0 0 30px 0;
                          font-family: Montserrat;

                          font-weight: normal;
                          font-stretch: normal;
                          font-style: normal;
                          line-height: 2;
                          letter-spacing: 0.47px;
                          text-align: center;
                          color: #363636;
                        "
                      >
                        The first day of the CRC's are off to an exciting start
                        with 28 matches played by the men's and women's team's.
                        We've seen many top teams live up to expectations, some
                        nailbiter matches, and even a few bracket busters.
                      </p>
                      <p
                        class="bodytext"
                        style="
                          margin: 0 0 30px 0;
                          font-family: Montserrat;

                          font-weight: normal;
                          font-stretch: normal;
                          font-style: normal;
                          line-height: 2;
                          letter-spacing: 0.47px;
                          text-align: center;
                          color: #363636;
                        "
                      >
                        Check our your bracket and the leaderboards below.
                      </p>
                    </td>
                  </tr>
                  <tr
                    align="center"
                    style="
                      width: 50%;
                      background-color: white;
                      margin-bottom: 10px;
                    "
                  >
                    <td>
                      <table class="btnbox">
                        <tbody>
                          <tr class="btntr">
                            <td>
                              <a
                                style="
                                  max-width: 364px;
                                  width: 100%;
                                  font-family: Montserrat;
                                  font-size: 14px;
                                  font-weight: bold;
                                  font-stretch: normal;
                                  font-style: normal;
                                  line-height: 2.14;
                                  letter-spacing: 1px;
                                  text-align: center;
                                  padding: 15px 40px;
                                  height: 60px;

                                  background-color: #0a2f6a;
                                  color: white;
                                  text-decoration: none;
                                  text-transform: uppercase;
                                "
                                href="{{view_brackets}}"
                                >View brackets
                              </a>
                            </td>
                            <td style="width: 100%; padding: 20px 0">
                              <a
                                style="
                                  max-width: 364px;
                                  width: 100%;
                                  font-family: Montserrat;
                                  font-size: 14px;
                                  font-weight: bold;
                                  font-stretch: normal;
                                  font-style: normal;
                                  line-height: 2.14;
                                  letter-spacing: 1px;
                                  text-align: center;

                                  height: 60px;
                                  padding: 15px 40px;

                                  background-color: #0a2f6a;
                                  color: white;
                                  text-decoration: none;
                                  text-transform: uppercase;
                                "
                                href="{{leaderboards}}"
                                >Leaderboards
                              </a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td bgcolor="white" style="padding: 5px 30px">
                <table
                  border="0"
                  cellpadding="0"
                  cellspacing="0"
                  width="100%"
                  style="border-collapse: collapse"
                >
                  <tr>
                    <td
                      align="center"
                      style="border-top: 1px solid #3165b833; padding-top: 20px"
                    >
                      <table
                        border="0"
                        cellpadding="0"
                        cellspacing="0"
                        style="border-collapse: collapse"
                      >
                        <tr>
                          <td>
                            <a
                              target="_blank"
                              href="https://www.facebook.com/nationalcollegiaterugby/"
                            >
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/fbnew.png"
                                alt="fb"
                                width="100%"
                                style="display: block; width: 40px"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a
                              target="_blank"
                              href="https://twitter.com/ncrrugby?fbclid=IwAR3tHM239yQskkNNY_4v9Jlz7NvJuRTLul7jLZnuurKp5vLEfj5NVakA2d8"
                            >
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/twtnew.png"
                                alt="twt."
                                width="100%"
                                style="display: block; width: 40px"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a
                              target="_blank"
                              href="https://www.instagram.com/nationalcollegiaterugby/"
                            >
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/instanew.png"
                                alt="instagram."
                                width="100%"
                                style="display: block; width: 40px"
                                border="0"
                              />
                            </a>
                          </td>
                          <td style="font-size: 0; line-height: 0" width="20">
                            &nbsp;
                          </td>
                          <td>
                            <a
                              target="_blank"
                              href="https://www.youtube.com/c/NationalCollegiateRugby/featured"
                            >
                              <img
                                src="https://ncrrugbyuat.s3.amazonaws.com/common/youtubenew.png"
                                alt="youtube."
                                width="100%"
                                style="display: block; width: 40px"
                                border="0"
                              />
                            </a>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr bgcolor="white">
              <td>
                <p
                  style="
                    font-family: Montserrat;
                    font-size: 12px;
                    font-weight: normal;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2.33;
                    letter-spacing: 0.4px;
                    text-align: center;
                    color: #363636;
                  "
                >
                  ©2021 National Collegiate Rugby Organization.
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
